<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    {{ content_for_header }}

    {{ 'application.css' | asset_url | stylesheet_tag }}
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <style>
      [x-cloak] {
        display: none !important
      }
    </style>
  </head>

  <body class="font-mono bg-zinc-900 text-white">
    {% section 'announcement-bar' %}
    {% section 'header' %}
    <main role="main">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
  </body>
</html>