<footer class="bg-black py-14">
  <div class="container mx-auto p-8">

    <h1 class="text-xl">Quick Links</h1>

    <ul>
      {% for link in linklists[section.settings.menu].links %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>

    {% if section.settings.is_show_enabled_payments %}
      <ul class="flex py-8 divide-y divide-white-200">
        {%- for type in shop.enabled_payment_types -%}
          <li class="list-payment__item">
            {{ type | payment_type_svg_tag }}
          </li>
        {%- endfor -%}
      </ul>
    {% endif %}

    {% if section.settings.is_show_copyright_and_powered_by_shopify %}
      <small class="copyright__content">&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
      </small>
      <small class="copyright__content">{{ powered_by_link }}</small>
    {% endif %}

  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Footer Menu",
        "default": "footer"
      }, {
        "type": "checkbox",
        "id": "is_show_enabled_payments",
        "label": "Show Enabled Payments",
        "default": true,
        "info": "Text that will appear on search bar"
      }, {
        "type": "checkbox",
        "id": "is_show_copyright_and_powered_by_shopify",
        "label": "Show powered by Shopify",
        "default": true,
        "info": "Show copyright below and Shopify"
      }
    ]
  }
{% endschema %}