{% comment %} bg-[url('{{ section.settings.banner_image | image_url }})'']  {% endcomment %}
<div class="relative bg-black min-h-[32rem] min-w-full">
  <img
    src="{{ section.settings.banner_image | image_url }}"
    alt="Banner image"
    class="-z-1 brightness-[.20] absolute h-full min-w-full pointer-events-none object-cover">

  <div class="absolute h-full min-w-full w-full flex flex-col items-center justify-center">
    <div class="container mx-auto p-8 flex flex-col items-start justify-center">
      <h1 class="text-7xl text-white">{{ section.settings.banner_title }}</h1>
      <p class="text-3xl text-white">{{ section.settings.banner_description }}</p>
      <a href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Landing page",
    "settings": [
      {
        "type": "text",
        "id": "banner_title",
        "label": "Banner Title",
        "default": "Title of the Banner",
        "info": "Title that will appear on the banner "
      },
      {
        "type": "text",
        "id": "banner_description",
        "label": "Banner Description",
        "default": "Description of the Banner",
        "info": "Description that will appear on the banner"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label",
        "default": "Shop",
        "info": "Button Text"
      }, {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner Background",
        "info": "Background that will appear on the banner"
      }
    ]
  }
{% endschema %}